@media (max-width: 1125px){
	.smallbox{
		height: 240px;
	}
}
@media (max-width: 1111px){
	.text0{
		font-size: 20px;
	}
	.smallbox{
		height: 220px;
	}
}
@media (max-width: 993px){
	ul{
		width: 300px;
	}
	.l{
		font-size: 19px;
	}
	.boxes0{
		width: 250px;
	}
	.icon{
		font-size: 30px;
	}
	.icon::after{
		height: 16px;
		margin-left: 18px;
	}
	.fa-search{
		font-size: 30px;
	}
	.smallbox{
		width: 50%;
		height: 270px;
		margin-bottom: 20px;
	}
}
@media (max-width: 946px){
	.whitebox, .mediumbox{
		margin: 0 auto;
		width: 100%;
		margin-bottom: 30px;
	}
}
@media (max-width: 835px){
	nav, .boxes0{
		display: none;
	}
	body{
		padding-top: 60px;
	}
	.logoo {
		width: 20%;
	}
	.menu{
		display: block;
		margin-right: 50px;
	}
	header{
		justify-content: space-between;
	}
	.logoo{
		margin-left: 50px;
	}
}
@media (max-width: 711px){
	.boxes{
		flex-direction: column;
		align-items: center;
	}
	.text1, .text1a{
		font-size: 16px;
	}
	.text0{
		font-size: 16px;
	}
	.text01, .text02, .text03{
		font-size: 22px;
	}
	.text003, .text0032{
		font-size: 18px;
	}
	.par, .par2{
		font-size: 20px;
	}
	.box0{
		width: 60px;
	}
	.s3, .s2{
		padding-bottom: 50px;
	}
	.smallbox{
		height: 260px;
	}
	.whitebox{
		height: 280px;
	}
}
@media (max-width: 600px){
	.text0{
		font-size: 12px;
	}
	.text01, .text02, .text03{
		font-size: 16px;
	}
	body{
		padding-top: 40px;
	}
	.box0{
		bottom: 10px;
    	right: 10px;
	}
	.menu{
		font-size: 25px;
	}
	.smallbox{
		height: 210px;
	}
}
@media (max-width: 479px){
	.text0{
		font-size: 8px;
	}
	.smallbox{
		height: 180px;
	}
	.whitebox{
		height: 240px;
	}
	.text1, .text1a{
		font-size: 12px;
	}
	.text04{
		font-size: 8px;
	}
	.par, .par2{
		font-size: 15px;
	}
	.text003, .text0032{
		font-size: 16px;
	}
	.box0{
		width: 40px;
	}
	.text0003{
		font-size: 10px;
	}
}
@media (max-width: 415px){
	.text001{
		font-size: 12px;
	}
	.smallbox{
		height: 159px;
	}
	.whitebox{
		height: 220px;
	}
}
@media (max-width: 335px){
	.smallbox{
		height: 130px;
	}
	.menu{
		font-size: 20px;
	}
	.whitebox{
		height: 200px;
	}
	.text0{
		font-size: 5px;
	}
	.par, .par2{
		font-size: 12px;
	}
	.text1, .text1a{
		font-size: 9px;
	}
}